{% extends './base.html' %}
<head>
    {% block head %}
    {% endblock %}

</head>
<body >
	{% block content %}
		<div class="color2">
			<span>Aqui va la info de empresa</span>
		</div>
	{% endblock %}
</body>

</html>
