{% load static %}
<!doctype html>
<html lang="es-cl">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Libro de Obra Digital</title>


    <link rel="stylesheet" href="{% static './css/style_base.css' %}">
    {% block head %}
    {% endblock %}

</head>
<body >
	<header >
	<div class="fondo">
		<img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Panama_City_Skyline_2015.jpg" class="img-fluid mt-2 mb-2" alt=""> 
		<div class="container">
			<div class="row">
				
				<div class="col-2 izquierda">
				  <img src="http://placehold.it/100x100" class="img-fluid mt-2 mb-2" alt=""> 
				</div>
        		<div class="col-8 centrado">
						<h1>Nombre de la Empresa</h1>
						<h2>Libro de Obra Digital</h2>
				</div>
				<div class="col-2 derecha">
					Imagen de <a href="//commons.wikimedia.org/wiki/User:123Hollic" title="User:123Hollic">123Hollic</a> - <span class="int-own-work" lang="es">Trabajo propio</span>, <a href="https://creativecommons.org/licenses/by-sa/4.0" title="Creative Commons Attribution-Share Alike 4.0">CC BY-SA 4.0</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=38161509">Enlace</a>
				</div>
			</div>
		</div>
		</div>
	</header>

	<div id="mySidenav" class="sidenav">
	  <div class="col-12">
	    <img src="http://placehold.it/100x100" class="img-fluid mt-2 mb-2 image" alt="">
	  </div>
	  <a href="/">Inicio</a>
	  <a href="/empresa">Empresas</a>
	  <a href="#">Obras</a>
	  <a href="#">Libros</a>
	  <a href="#">Usuarios</a>
	  <a href="#">Contacto</a>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-12">
				<div id="main">
						<button id="abrir" class="btn btn-primary" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menú</button>
						<button id="cerrar" class="btn btn-primary" style="font-size:30px;cursor:pointer" onclick="closeNav()">&#9776; Menú</button>
						{% block content %}
						<div class="color">
							Inicio
						</div>
						{% endblock %}

					</div>
				</div>
			</div>
	</div>
	<script>
	function openNav() {
	  document.getElementById("mySidenav").style.width = "20%";
	  document.getElementById("main").style.marginLeft = "20%";

	  var x = document.getElementById("abrir");
	  var y = document.getElementById("cerrar");
	  x.style.display = "none";
	  y.style.display = "block";
	}

	function closeNav() {
	  document.getElementById("mySidenav").style.width = "0";
	  document.getElementById("main").style.marginLeft= "0";
	  var x = document.getElementById("abrir");
	  var y = document.getElementById("cerrar");
	  x.style.display = "block";
	  y.style.display = "none";
	}
	</script>
</body>

</html>
