
{% extends '../base_inicio.html' %}
<head>
    {% block head %}
    {% endblock %}

</head>
<body >
	
	{% block content %}

	<p>¡Desconectado!</p>  

	<a href="{% url 'login'%}">Click aquí para ingresar nuevamente.</a>
	{% endblock %}
</body>